node_modules

# Supabase temporários
.branches/
.temp/
cli-latest

# credenciais de ambiente
*.env

# Supabase
.branches
.temp

# dotenvx
.env.keys
.env.local
.env.*.local 


# Ignorar arquivos de build
dist/

# Ignorar configurações locais do VS Code
.vscode/